<form class="o-container o-container--xsmall c-card u-high login-form">
  <header class="c-card__header">
    <h2 class="c-heading">
      Welcome to the Vacationator-1000!
    </h2>
    <br>
    <h6>Terminate your work stress, not your free time!</h6>
    <h4>
      <div class="c-heading__sub">Existing users</div>
    </h4>
  </header>
  <div class="c-card__body">
    <div class="o-form-element">
      <label class="c-label">
        Email:
        <input
          class="c-field c-field--label"
          type="email"
          placeholder="your@email.com"
          id="email-login"
        />
        <div role="tooltip" class="c-hint">
          The email used to register the account
        </div>
      </label>
    </div>
    <label class="o-form-element c-label">
      Password:
      <input
        class="c-field c-field--label"
        type="password"
        id="password-login"
      />
    </label>
    <div class="o-form-element">
    </div>
  </div>
  <footer class="c-card__footer">
    <button
      type="button"
      class="c-button c-button--brand c-button--block"
      id="submitButton"
    >
      Login
    </button>
  </footer>
</form>

<script src="./javascript/login.js"></script>